<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body data-default-theme="{{ site.data.theme.default_mode | default: 'light' }}">
    {% include header.html %}

    <main class="main">
        {{ content }}
    </main>

    {% include footer.html %}

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up" aria-label="Back to top">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== SWIPER JS ====================-->
    <script src="{{ '/assets/js/swiper-bundle.min.js' | relative_url }}"></script>

    <!--==================== MAIN JS ====================-->
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
